/* layout geral */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Barra de navegação e header */
header{
    background: #0032A0 ;
background: linear-gradient(180deg, rgba(0, 50, 160, 1) 50%, rgba(213, 43, 30, 1) 50%);
max-height: 250px;
}


/*Nav colorido*/

.nav-link{
    color: #FFF !important;
    }

@media(min-width: 780px){
#emcimanav{
    margin-left: -100px;
    }
    }


/*topo abaixo do nav*/

#topo {
    max-width: 2000px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    font-style: italic;
    }

    header h1 {
    text-transform: uppercase;
    font-style: italic;
    font-size: clamp(25px, 6vw, 32px);
    color: #ffffff;
    letter-spacing: 6px;
    line-height: 1.1;
    flex: 1 1 400px;
    }

    header p {
    color: #ffffff;
    font-size: clamp(14px, 2vw, 20px);
    flex: 1 1 400px;
    }

    header img {
    max-width: 120px;
    height: auto;
    }

/* main FLEXivel*/
main {
    flex: 1;
    }

    main h2 {
    text-align: center;
    padding: 30px 10px 40px;
    color: #e8e9f1;
    font-size: clamp(20px, 4vw, 32px);
    }


/* grid grade */
#conteudo-home {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 10px;
}

/*  paginas */
.paginas-nao-home {
    background: #222020;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

    .paginas-nao-home:hover {
    transform: translateY(-5px);
    }

    .paginas-nao-home a {
    display: block;
    }

    .paginas-nao-home img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    }

    .paginas-nao-home p {
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
    color: #222522;
    }

/* footer */
footer {
    background-color: #111a68;
    text-align: left;
    font-style:  Arial;
    color: #FFF;
    padding: 20px;
}

/* paginas do interior */
#conteudo-interno {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    }

    #conteudo-interno h2 {
    text-align: left;
    margin-bottom: 20px;
    }

/* parte visual */
.foto {
    border: 2px solid #CCC;
    border-radius: 15px;
    overflow: hidden;
    max-width: 300px;
    }

    .foto img {
    width: 100%;
    height: xpx; 
    object-fit: cover
    }

    .legenda {
    text-align: center;
    padding: 10px;
    }

    .capslock {
    font-weight: bold;
    }

/*parte do paralax*/
.parallax-bg {
        position: fixed;
        top: -80%;          
        left: 0;
        width: 100%;
        height: 180%;       

        background: url('img/santiago2.jpg') center/cover no-repeat;

        z-index: -1;
        will-change: transform;
    }
    .geo {
        position: fixed;
        top: -80%;          
        left: 0;
        width: 100%;
        height: 180%;       

        background: url('img/tour-pelo-chile.jpg') center/cover no-repeat;

        z-index: -1;
        will-change: transform;
        
    }
    .cult {
        position: fixed;
        top: -80%;          
        left: 0;
        width: 100%;
        height: 180%;       

        background: url('img/torta.jpg') center/cover no-repeat;

        z-index: -1;
        will-change: transform;
        
    }

    .hist {
        position: fixed;
        top: -80%;          
        left: 0;
        width: 100%;
        height: 180%;       

        background: url('img/livros.jpeg') center/cover no-repeat;

        z-index: -1;
        will-change: transform;
    }
        .atra {
        position: fixed;
        top: -80%;          
        left: 0;
        width: 100%;
        height: 180%;       

        background: url('img/ilhapascoa.jpg') center/cover no-repeat;

        z-index: -1;
        will-change: transform;
    }

    .parallax-bg::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
    }

    .hero {
        text-align: center;
        padding: 60px 20px;
        height: 100vh;
        display: flex;
        align-items: center;     
        justify-content: center; 
        text-align: center;
        position: relative;
        z-index: 2;
    }
    
/* texto chile home */
.hero .container {
        margin-top: -100px; 
    }

    .hero h1 {
    font-size: clamp(32px, 10vw, 200px);
    color: white;
    }

    .hero p {
    font-size: clamp(14px, 2.5vw, 24px);
    color: white;
    }

    section {
      padding: 10px 0;
      position: relative;
      z-index: 2;
    }

    .custom-card {
      background: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 12px;
      backdrop-filter: blur(8px);
      color: white;
    }

    .custom-card img {
      max-height: 300px;
      max-width: 100%;
    }
 /*Mobile*/
 @media(max-width: 992px) {
        .custom-card img {
      max-height: 100%;
      max-width: 100%;
      margin-left: 0px;
    }
    }
/*corrige o moai*/
#carouselCultura .carousel-item img {
  width: 100%;
  height: 50%; /* 50/50*/
  object-fit: cover;
}